<a href="https://colab.research.google.com/github/egrinalds/egrinalds.github.io/blob/master/Unit1Build.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# CSV created by inputting these data into a google sheet and coverted into an excel csv
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving Raw Housing Data - Sheet1 (3).csv to Raw Housing Data - Sheet1 (3).csv

In [17]:
df = pd.read_csv('Raw Housing Data - Sheet1 (3).csv')
df.head()

         Seattle   826000  165200  1362   96739  22.60%  21863  74876
0  San Francisco  1263813  252763  2064  109420  29.98%  32804  76616
1    Los Angeles   827579  165516  1410   89323  27.67%  24716  64607
2      San Diego   798964  159793  1197   86573  27.31%  23643  62930
3      Salt Lake   395599   79120   649   73934  25.37%  18757  55177
4         Denver   501929  100386   769   81506  25.21%  20548  60958

In [18]:
# Clean data 
column_headers = ['Home Price', 'Down Payment', '1Br Rent', 'Gross Income', 'Tax Rate', 'Taxes', 'Net Income' ]
df = pd.read_csv('Raw Housing Data - Sheet1 (3).csv', names=column_headers)
df.head(12)

               Home Price  Down Payment  1Br Rent  ...  Tax Rate  Taxes  Net Income
Seattle            826000        165200      1362  ...    22.60%  21863       74876
San Francisco     1263813        252763      2064  ...    29.98%  32804       76616
Los Angeles        827579        165516      1410  ...    27.67%  24716       64607
San Diego          798964        159793      1197  ...    27.31%  23643       62930
Salt Lake          395599         79120       649  ...    25.37%  18757       55177
Denver             501929        100386       769  ...    25.21%  20548       60958
Austin             347906         69581       760  ...    21.24%  17238       63922
Chicago            513821        102764      1105  ...    25.80%  20335       58482
Miami              456277         91255      1067  ...    20.84%  16141       61310
Atlanta            365726         73145       608  ...    25.87%  20129       57678
New York           839000        167800      1427  ...    30.48%  26489       60417

[11 rows x 7 columns]

In [92]:
# Clean up tax rate column
df['Tax Rate'][0]

'22.60%'

In [93]:
tax_rate = ' 22.60%'
tax_rate.strip('%')

' 22.60'

In [94]:
tax_rate.strip()

'22.60%'

In [95]:
tax_rate.strip('%').strip()

'22.60'

In [96]:
type(tax_rate.strip('%').strip())

str

In [97]:
# "Cast" the string value to a float
float(tax_rate.strip('%').strip())

22.6

In [98]:
type(float(tax_rate.strip('%').strip()))

float

In [0]:
# Write a function that can do what we have written above to any string that is passed to it.

def tax_rate_to_float(tax_rate):
  return float(tax_rate.strip('%').strip())

In [100]:
# Test out our function by calling it on our example
tax_rate_to_float(' 22.6%')

22.6

In [101]:
# Is the data type correct?
type(tax_rate_to_float(' 22.6%'))

float

In [0]:
new_tax_rate = []

for tax_rate in df['Tax Rate']:
  new_tax_rate.append(tax_rate_to_float(tax_rate))

# new_int_rate

df['new_tax_rate'] = pd.Series(new_tax_rate)

In [103]:
df.head()

               Home Price  Down Payment  ...  Net Income  new_tax_rate
Seattle            826000        165200  ...       74876           NaN
San Francisco     1263813        252763  ...       76616           NaN
Los Angeles        827579        165516  ...       64607           NaN
San Diego          798964        159793  ...       62930           NaN
Salt Lake          395599         79120  ...       55177           NaN

[5 rows x 8 columns]

In [104]:
df.dtypes

Home Price        int64
Down Payment      int64
1Br Rent          int64
Gross Income      int64
Tax Rate         object
Taxes             int64
Net Income        int64
new_tax_rate    float64
dtype: object

In [105]:
# Apply our solution to every cell in a column

df['Tax Rate'] = df['Tax Rate'].apply(tax_rate_to_float)

df.head()

               Home Price  Down Payment  ...  Net Income  new_tax_rate
Seattle            826000        165200  ...       74876           NaN
San Francisco     1263813        252763  ...       76616           NaN
Los Angeles        827579        165516  ...       64607           NaN
San Diego          798964        159793  ...       62930           NaN
Salt Lake          395599         79120  ...       55177           NaN

[5 rows x 8 columns]

In [106]:
# Add a column to show 20% annual savings of Net Salary
df['Net Savings'] = (df['Net Income']*0.2).round(1)
df.head(1)

         Home Price  Down Payment  ...  new_tax_rate  Net Savings
Seattle      826000        165200  ...           NaN      14975.2

[1 rows x 9 columns]

In [107]:
# Add a column to show how many years until you can save up for a downpayment 
df['Years to Save'] = (df['Down Payment']/(df['Net Savings'])).round(1)
df.head(12)

               Home Price  Down Payment  ...  Net Savings  Years to Save
Seattle            826000        165200  ...      14975.2           11.0
San Francisco     1263813        252763  ...      15323.2           16.5
Los Angeles        827579        165516  ...      12921.4           12.8
San Diego          798964        159793  ...      12586.0           12.7
Salt Lake          395599         79120  ...      11035.4            7.2
Denver             501929        100386  ...      12191.6            8.2
Austin             347906         69581  ...      12784.4            5.4
Chicago            513821        102764  ...      11696.4            8.8
Miami              456277         91255  ...      12262.0            7.4
Atlanta            365726         73145  ...      11535.6            6.3
New York           839000        167800  ...      12083.4           13.9

[11 rows x 10 columns]

In [108]:
df['Years to Save'].sort_values()

Austin            5.4
Atlanta           6.3
Salt Lake         7.2
Miami             7.4
Denver            8.2
Chicago           8.8
Seattle          11.0
San Diego        12.7
Los Angeles      12.8
New York         13.9
San Francisco    16.5
Name: Years to Save, dtype: float64

In [59]:
# Upload Taxes

uploaded = files.upload()

Saving Housing Raw - Sheet2 (2).csv to Housing Raw - Sheet2 (2).csv

In [60]:
df_taxes = pd.read_csv('Housing Raw - Sheet2 (2).csv')
df_taxes.head(12)

        New York  21.80%  8.69%  30.48%
0  San Francisco  23.65%  6.33%  29.98%
1    Los Angeles  22.01%  5.66%  27.67%
2      San Diego  21.77%  5.44%  27.31%
3        Atlanta  20.88%  4.99%  25.87%
4        Chicago  20.99%  4.81%  25.80%
5         Denver  21.28%  3.94%  25.51%
6     Salt Lake   20.42%  4.95%  25.00%
7        Seattle  22.60%  0.00%  22.60%
8         Austin  21.24%  0.00%  21.24%
9          Miami  20.84%  0.00%  20.84%

In [62]:
column_headers = ['City', 'Federal', 'State', 'Total']
df_taxes = pd.read_csv('Housing Raw - Sheet2 (2).csv', names=column_headers)

df_taxes.head(12)

             City Federal  State   Total
0        New York  21.80%  8.69%  30.48%
1   San Francisco  23.65%  6.33%  29.98%
2     Los Angeles  22.01%  5.66%  27.67%
3       San Diego  21.77%  5.44%  27.31%
4         Atlanta  20.88%  4.99%  25.87%
5         Chicago  20.99%  4.81%  25.80%
6          Denver  21.28%  3.94%  25.51%
7      Salt Lake   20.42%  4.95%  25.00%
8         Seattle  22.60%  0.00%  22.60%
9          Austin  21.24%  0.00%  21.24%
10          Miami  20.84%  0.00%  20.84%

Source: https://smartasset.com/taxes/income-taxes#PTIaCjoEAX

In [0]:
# Explanatory Anaysis
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [174]:
# Graph 1
# Gross Income vs. Net Income

# Needs x-axis label
import plotly.graph_objects as go

city = ['Salt Lake', 'Miami', 'Atlanta', 'Chicago', 'Austin', 'Denver', 'San Diego', 'Los Angeles',  'New York', 'Seattle', 'San Francisco',]

fig = go.Figure()
fig.add_trace(go.Bar(x=city,
                y=[73934, 77451, 77807, 78817, 81160, 81506, 86573, 86906, 89323, 96739, 109420],
                name='Gross Income',
                marker_color='rgb(55, 83, 109)'
                ))
fig.add_trace(go.Bar(x=city,
                y=[55177, 61310, 57678, 58482, 63922, 60958, 62930, 64607, 60417, 74876, 76616],
                name='Net Income',
                marker_color='rgb(26, 118, 255)'
                ))

fig.update_layout(
    title='Gross Income vs Net Income',
    xaxis_tickfont_size=14,
    yaxis=dict(
        title='USD $',
        titlefont_size=20,
        tickfont_size=14,
    ),
    legend=dict(
        x=0,
        y=1,
        bgcolor='rgba(255, 255, 255, 0)',
        bordercolor='rgba(255, 255, 255, 0)'
    ),
    barmode='group',
    bargap=0.15, # gap between bars of adjacent location coordinates.
    bargroupgap=0.1 # gap between bars of the same location coordinate.
)
# Source
annotations = []
annotations.append(dict(xref='paper', yref='paper',
                        x=0, y=-0.2,
                        text='Source: https://www.glassdoor.com/Salaries/junior-data-scientist-salary',
                        font=dict(family='Arial', size=13, color='rgb(150,150,150)'),
                        showarrow=False))

fig.update_layout(annotations=annotations)
fig.show()

In [0]:
# Create links for the Github page

In [175]:
!pip install chart_studio
import chart_studio
import chart_studio.plotly as py
import chart_studio.tools as tls
username = 'egrinalds'
api_key = 'FHDg0EfDg9siS0rIA39e'
chart_studio.tools.set_credentials_file(username=username, api_key=api_key)
py.plot(fig, filename = 'Gross Income vs Net Income', auto_open=True)

Requirement already satisfied: chart_studio in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.3.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from chart_studio) (4.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from chart_studio) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.12.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (3.0.4)

'https://plotly.com/~egrinalds/1/'

In [176]:
# Graph 2
# Needs x-axis on graph
import plotly.graph_objects as go

city = ['Austin', 'Atlanta','Salt Lake', 'Miami', 'Denver', 'Chicago', 'San Diego', 'Seattle', 'Los Angeles', 'New York', 'San Francisco']

fig = go.Figure()
fig.add_trace(go.Bar(x=city,
                y=[347906, 365726, 395599, 456277, 501929, 513821, 798964, 826000, 827579, 839000, 1263813,],
                name='Home Price',
                marker_color='rgb(55, 83, 109)'
                ))
fig.add_trace(go.Bar(x=city,
                y=[69581, 73145, 79120, 91255, 100386, 102764, 159793, 165200, 165516, 167800, 252763],
                name='Down Payment',
                marker_color='rgb(26, 118, 255)'
                ))

fig.update_layout(
    title='Median 3 Bedroom / 2 Bath Home Price',
    xaxis_tickfont_size=14,
    yaxis=dict(
        title='USD $',
        titlefont_size=20,
        tickfont_size=14,
    ),
    legend=dict(
        x=0,
        y=1,
        bgcolor='rgba(255, 255, 255, 0)',
        bordercolor='rgba(255, 255, 255, 0)'
    ),
    barmode='group',
    bargap=0.15, # gap between bars of adjacent location coordinates.
    bargroupgap=0.1 # gap between bars of the same location coordinate.
)
# Source
annotations = []
annotations.append(dict(xref='paper', yref='paper',
                        x=0, y=-0.15,
                        text='Source: https://www.nerdwallet.com/cost-of-living-calculator',
                        font=dict(family='Arial', size=13, color='rgb(150,150,150)'),
                        showarrow=False))

fig.update_layout(annotations=annotations)
fig.show()

In [177]:
py.plot(fig, filename = 'Median 3 Bedroom - 2 Bath Home Price', auto_open=True)

'https://plotly.com/~egrinalds/3/'

In [178]:
# Graph 3 
# Years to Afford Horizontal Bar Chart

import plotly.graph_objects as go
import plotly.express as px

fig = go.Figure()
fig.add_trace(go.Bar(
    y= ['San Francisco', 'New York', 'Los Angeles', 'San Diego', 'Boston', 'Seattle', 'Chicago', 'Denver', 'Miami', 'Salt Lake', 'Atlanta','Austin'],
    x= [16.49, 13.89, 12.81, 12.70, 11.47, 11.03, 8.79, 8.23, 7.44, 7.17, 6.34, 5.44],
    name='City',
    orientation='h',
    marker=dict(
        color='rgba(143, 188, 139, 0.6)',
        line=dict(color='rgba(105, 105, 105, 1.0)', width=3)      
    ) 
))
fig.update_layout(barmode='stack')
fig.update_layout(
  title_text="Years Needed To Afford 20% Down Payment"),

# Source
annotations = []
annotations.append(dict(xref='paper', yref='paper',
                        x=0, y=-0.15,
                        text='Source: https://www.nerdwallet.com/cost-of-living-calculator',
                        font=dict(family='Arial', size=13, color='rgb(150,150,150)'),
                        showarrow=False))

fig.update_layout(annotations=annotations)
fig.show()

In [171]:
py.plot(fig, filename = 'Years to Save For 20% Down Payment', auto_open=True)

'https://plotly.com/~egrinalds/5/'

In [179]:
# Graph 4
# Monthly Bills Pie Chart

import plotly.graph_objects as go

labels = ['Taxes', 'ISA Payment', 'Save for Down Payment', 'Rent', 'Investments', 'Food', 'Leisure', 'Vehicle', 'Utilities']
values = [1437, 1150, 1065,  760, 750, 600, 500, 300, 200]

# Use `hole` to create a donut-like pie chart
fig = go.Figure(data=[go.Pie(labels=labels, values=values, hole=.3)])

# Source
annotations = []
annotations.append(dict(xref='paper', yref='paper',
                        x=0.5, y=-0.14,
                        text='Source: https://smartasset.com/taxes/income-taxes#JLbpKvDH6m',
                        font=dict(family='Arial', size=13, color='rgb(150,150,150)'),
                        showarrow=False))

fig.update_layout(annotations=annotations)

annotations1 = []
annotations.append(dict(xref='paper', yref='paper',
                        x=0.5, y=1.16,
                        text='Living in Austin on $6763 Monthly Gross Income ',
                        font=dict(family='Arial', size=16, color='rgb(0,0,0)'),
                        showarrow=False))

fig.update_layout(annotations=annotations)

fig.show()

In [180]:
py.plot(fig, filename = 'Monthly Budget for Austin Texas', auto_open=True)

'https://plotly.com/~egrinalds/7/'